@{
    ViewBag.Title = "Home Page";
}
@model ToibSolovyov.Models.Test

<div class="bg-light">
    @using (Ajax.BeginForm(Model.ControllerName, "Home", new AjaxOptions { UpdateTargetId = @Model.ControllerName, InsertionMode = InsertionMode.Replace }))
    {
        <div class="d-flex flex-row text-start w-100 ">
            <div class="form-group mx-sm-3 mb-2 ">
                <label class="sr-only" for="Input">@Model.TestName</label>
                @Html.TextBoxFor(model => model.Input, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-4  max-w-50">Проверить</button>
        </div>

        @Html.HiddenFor(model => model.ControllerName)
        @Html.HiddenFor(model => model.AdditionalInfo)
        @Html.HiddenFor(model => model.Output)
    }
    <div class=" mx-sm-3 mb-2" id="@Model.ControllerName">
    </div>

    <div class="accordion mb-6" id="@{@Model.ControllerName}accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@{@Model.ControllerName}collapseOne" aria-expanded="false" aria-controls="@{@Model.ControllerName}collapseOne">
                    Подробнее
                </button>
            </h2>
            <div id="@{@Model.ControllerName}collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#@{@Model.ControllerName}accordionExample">
                <div class="accordion-body">
                    @Html.Raw(Model.AdditionalInfo)
                </div>
            </div>
        </div>
    </div>

</div>



