@{
    ViewBag.Title = "Home Page";
}
@model ToibSolovyov.Models.Test

<div class="bg-light">
    <div class="accordion mb-2" id="@{@Model.ControllerName}accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@{@Model.ControllerName}collapseOne" aria-expanded="true" aria-controls="@{@Model.ControllerName}collapseOne">
                    @Model.TestName
                </button>
            </h2>
            <div id="@{@Model.ControllerName}collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#@{@Model.ControllerName}accordionExample">
                <div class="accordion-body pre-wrap">
                    @Html.Raw(Model.AdditionalInfo)
                    @Html.Raw(Model.Code)</div>
            </div>
        </div>
    </div>
    <div class="mx-sm-3 p-4 mb-2" >
        @using (Ajax.BeginForm(Model.ControllerName, "Home", new AjaxOptions { UpdateTargetId = @Model.ControllerName, InsertionMode = InsertionMode.Replace }))
        {
            <div class="d-flex flex-row text-start w-100 ">
                @Html.TextBoxFor(model => model.Input, new { @class = "form-control me-4" })
                <button type="submit" class="btn btn-primary   max-w-50">Проверить</button>
            </div>
        }

    </div>
    <div class="ps-5 pe-5 pb-4" id="@Model.ControllerName"></div>
</div>



